.explore-container {
    min-height: 100vh;
    color: white;
    padding-top: 20px;
}

.explore-header h1 span {
    color: #e31b23;
    -webkit-text-stroke: 0px; 
    font-weight: 800;
}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-decoration: none;

}

.brand-card {
    background: #121212;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #1f1f1f;
    transition: all 0.3s ease;
    text-decoration: none;

}

.brand-card:hover {
    border-color: #e31b23;
    transform: translateY(-5px);
}

.logo-wrapper {
    background: #1c1c1e;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo-wrapper img {
    width: 60%;
    height: auto;
    object-fit: contain;
    filter: brightness(1.2);
}

.brand-info {
    text-align: center;
    text-decoration: none;
    color: white;

}

.brand-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

}

.brand-info span {
    color: #666;
    font-size: 14px;
    margin-top: 4px;
    display: block;
    text-decoration: none;

}

.loading {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.brand-navlink{
    text-decoration: none;
}